<div class="tall navy center-text">
  <div class="header clearfix">
    <p id="tagline" class="white-text pull-left">An exercise in the Sinatra framework</p>
    <p id="author" class="white-text pull-right">Coded by <a class="white-text" href="https://github.com/blackwright">Blackwright</a></p>
  </div>
</div>
