<div class="tall navy center-text">
  <div class="header clearfix">
    <h1 id="title" class="white-text pull-left">Sinatra Blackjack</h1>
    <form id="new-game" method="get">
      <span class="white-text">Written in Ruby</span>
      <button type="submit" formaction="/new" class="btn-wide white-text papaya">New Game</button>
    </form>
  </div>
</div>
