<!DOCTYPE html>
<html>
  <head>
    <%= erb :_head %>
  </head>
  <body class="navy">
    <%= erb :"shared/_header" %>
    <main class="center-text">
    <%= yield %>
    </main>
    <%= erb :"shared/_footer" %>
  </body>
</html>
