<div class="card">
  <div class="front">
    <div class="index">10<br>SUIT</div>
    <div class="spotA1">SUIT</div>
    <div class="spotA2">SUIT</div>
    <div class="spotA4">SUIT</div>
    <div class="spotA5">SUIT</div>
    <div class="spotB2">SUIT</div>
    <div class="spotB4">SUIT</div>
    <div class="spotC1">SUIT</div>
    <div class="spotC2">SUIT</div>
    <div class="spotC4">SUIT</div>
    <div class="spotC5">SUIT</div>
  </div>
</div>
