<div class="card">
  <div class="{{ card class }}">
    <div class="index">5<br>{{ suit }}</div>
    <div class="spotA1">{{ suit }}</div>
    <div class="spotA5">{{ suit }}</div>
    <div class="spotB3">{{ suit }}</div>
    <div class="spotC1">{{ suit }}</div>
    <div class="spotC5">{{ suit }}</div>
  </div>
</div>
