<div class="card">
  <div class="front">
    <div class="index">6<br>SUIT</div>
    <div class="spotA1">SUIT</div>
    <div class="spotA3">SUIT</div>
    <div class="spotA5">SUIT</div>
    <div class="spotC1">SUIT</div>
    <div class="spotC3">SUIT</div>
    <div class="spotC5">SUIT</div>
  </div>
</div>
