<div class="card">
  <div class="{{ card class }}">
    <div class="index">9<br>{{ suit }}</div>
    <div class="spotA1">{{ suit }}</div>
    <div class="spotA2">{{ suit }}</div>
    <div class="spotA4">{{ suit }}</div>
    <div class="spotA5">{{ suit }}</div>
    <div class="spotB3">{{ suit }}</div>
    <div class="spotC1">{{ suit }}</div>
    <div class="spotC2">{{ suit }}</div>
    <div class="spotC4">{{ suit }}</div>
    <div class="spotC5">{{ suit }}</div>
  </div>
</div>
