<div class="card">
  <div class="front">
    <div class="index">K<br>SUIT</div>
    <img class="face" src="king.gif" alt="" width="80" height="130">
    <div class="spotA1">SUIT</div>
    <div class="spotC5">SUIT</div>
  </div>
</div>
