<div class="card">
  <div class="{{ card class }}">
    <div class="index">Q<br>{{ suit }}</div>
    <img class="face" src="queen.gif" alt="" width="80" height="130">
    <div class="spotA1">{{ suit }}</div>
    <div class="spotC5">{{ suit }}</div>
  </div>
</div>
